@font-face {
    font-family: 'AppleGaramond';
    src: url('./fonts/apple_garamond/AppleGaramond.ttf') format('truetype'); 
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'AppleGaramond', sans-serif;
    color: black;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

footer {
    text-align: center;
    margin-top: 2rem;
}
